{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <div class="container col-12 align-self-center"><h1>IMAGE</h1></div>
    <br>
    <br>
    <div>
    <a href="{{ path('task_index') }}" class="btn btn-dark btn-lg active" role="button" title="Task">Task</a>
    <a href="{{ path('priority_index') }}" class="btn btn-dark btn-lg active" role="button" title="Priority">Priority</a>
    <a href="{{ path('image_index') }}" class="btn btn-dark btn-lg active" role="button" title="Image">Image</a>
    <a href="{{ path('category_index') }}" class="btn btn-dark btn-lg active" role="button" title="Category">Category</a>
    <a href="{{ path('tasklist_index') }}" class="btn btn-dark btn-lg active" role="button" title="Tasklist">Tasklist</a>
    <a href="{{ path('listitem_index') }}" class="btn btn-dark btn-lg active" role="button" title="Listitem">Listitem</a>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Img_path</th>
                <th>Image</th>
                <th>Alt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.path }}</td>
                <td>{{ image.imgpath }}</td>
                <td><img src="{{ asset(image.imgpath) }}" width="200px "/></td>
                <td>{{ image.alt }}</td>


                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
