{% extends 'base.html.twig' %}

{% block title %}Listitem index{% endblock %}

{% block body %}
    <div class="container col-12 align-self-center"><h1>LISTITEM</h1></div>
    <br>
    <br>
    <div>
        <a href="{{ path('task_index') }}" class="btn btn-dark btn-lg active" role="button" title="Task">Task</a>
        <a href="{{ path('priority_index') }}" class="btn btn-dark btn-lg active" role="button" title="Priority">Priority</a>
        <a href="{{ path('image_index') }}" class="btn btn-dark btn-lg active" role="button" title="Image">Image</a>
        <a href="{{ path('category_index') }}" class="btn btn-dark btn-lg active" role="button" title="Category">Category</a>
        <a href="{{ path('tasklist_index') }}" class="btn btn-dark btn-lg active" role="button" title="Tasklist">Tasklist</a>
        <a href="{{ path('listitem_index') }}" class="btn btn-dark btn-lg active" role="button" title="Listitem">Listitem</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for listitem in listitems %}
            <tr>
                <td>{{ listitem.id }}</td>
                <td>{{ listitem.label }}</td>
                <td>
                    <a href="{{ path('listitem_show', {'id': listitem.id}) }}">show</a>
                    <a href="{{ path('listitem_edit', {'id': listitem.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('listitem_new') }}">Create new</a>
{% endblock %}
