{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <div class="container col-12 align-self-center"><h1>TASK</h1></div>
    <br>
    <br>
    <div>
        <a href="{{ path('task_index') }}" class="btn btn-dark btn-lg active" role="button" title="Task">Task</a>
        <a href="{{ path('priority_index') }}" class="btn btn-dark btn-lg active" role="button" title="Priority">Priority</a>
        <a href="{{ path('image_index') }}" class="btn btn-dark btn-lg active" role="button" title="Image">Image</a>
        <a href="{{ path('category_index') }}" class="btn btn-dark btn-lg active" role="button" title="Category">Category</a>
        <a href="{{ path('tasklist_index') }}" class="btn btn-dark btn-lg active" role="button" title="Tasklist">Tasklist</a>
        <a href="{{ path('listitem_index') }}" class="btn btn-dark btn-lg active" role="button" title="Listitem">Listitem</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Done</th>
                <th>Images</th>
                <th>Priority</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.done ? 'Yes' : 'No' }}</td>
                <td>{% if task.image %}

                    <img src="{{ asset(task.image.imgPath) }}" width="200px" />
                    {% endif %}</td>
                <td>{{ task.priority.name }}</td>

                <td>{% for category in task.categories %}
                        {{ category }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}">Create new</a>
{% endblock %}
