{% extends 'base.html.twig' %}

{% block title %}Priority index{% endblock %}

{% block body %}
    <div class="container col-12 align-self-center"><h1>PRIORITY</h1></div>
    <br>
    <br>
    <div>
        <a href="{{ path('task_index') }}" class="btn btn-dark btn-lg active" role="button" title="Task">Task</a>
        <a href="{{ path('priority_index') }}" class="btn btn-dark btn-lg active" role="button" title="Priority">Priority</a>
        <a href="{{ path('image_index') }}" class="btn btn-dark btn-lg active" role="button" title="Image">Image</a>
        <a href="{{ path('category_index') }}" class="btn btn-dark btn-lg active" role="button" title="Category">Category</a>
        <a href="{{ path('tasklist_index') }}" class="btn btn-dark btn-lg active" role="button" title="Tasklist">Tasklist</a>
        <a href="{{ path('listitem_index') }}" class="btn btn-dark btn-lg active" role="button" title="Listitem">Listitem</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for priority in priorities %}
            <tr>
                <td>{{ priority.id }}</td>
                <td>{{ priority.name }}</td>
                <td>{{ priority.value }}</td>
                <td>
                    <a href="{{ path('priority_show', {'id': priority.id}) }}">show</a>
                    <a href="{{ path('priority_edit', {'id': priority.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('priority_new') }}">Create new</a>
{% endblock %}
